* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  line-height: 6rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}