* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}